@charset "UTF-8";
@import "reset.css";
@import "fonts.css";
html,
body {
  font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.article {
  margin-top: 60px;
  padding-right: 30px;
}

.text {
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
}

.heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.container--width {
  max-width: 1538px;
}

.burger {
  display: none;
}

.header__before {
  display: none;
}

.header {
  overflow: hidden;
  background: url(../image/picture/background_1.jpg) 0 15%/cover no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px;
}

.header__logo {
  position: relative;
}

.header__left {
  flex-grow: 1.5;
}

.header__right {
  flex-grow: 2.5;
}

.header__first-row {
  display: flex;
  justify-content: end;
  margin: 34px 0px 26.5px 0px;
  align-items: center;
}

.header__fr-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: all 0.3s;
}
.header__fr-link:hover {
  scale: 1.08;
}

.header__fr-link:last-child {
  padding: 15px;
  border: 1px solid #dba069;
  border-radius: 5px;
}

.header__whatsapp {
  margin-right: 35px;
}

.header__phone {
  margin-right: 10px;
}

.header__link {
  display: flex;
  justify-content: end;
  margin-left: 130px;
}

.header__link-item {
  font-weight: 400;
  line-height: 19px;
  margin-right: 3.5460992908%;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 4px solid transparent;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.header__link-item:hover {
  border-bottom: 4px solid #dba069;
}

.header__link-item:last-child {
  margin-right: 0;
}

.header__main {
  display: flex;
  padding-bottom: 141px;
  padding-top: 4px;
}

.header__main-left {
  flex-grow: 3;
}

.header__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 140%;
  /* or 53px */
  color: #ffffff;
  margin: 0px 10px 20px 0px;
}

.header__button {
  width: 245px;
  height: 65px;
  background: #dba069;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  margin: 0px 0px 40px 0px;
  transition: all 0.3s;
}
.header__button:hover {
  scale: 1.06;
}

.header__heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.header__left-text {
  display: flex;
  vertical-align: top;
}

.header__left-text-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}

.header__left-text-item:nth-child(2) {
  margin-right: 15px;
}

.header__left-text-item:nth-child(odd) {
  font-size: 128px;
  line-height: 83.7%;
  margin-right: 20px;
}

.header__left-text-item:nth-child(even) {
  max-width: 109px;
  text-align: left;
}

.header__main-right {
  max-width: 300px;
}

.header__right-text-item {
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  margin-bottom: 22px;
}
.header__right-text-item span {
  font-weight: 700;
}

.header__background {
  position: relative;
}

.header__background-item--5::after, .header__background-item--4::after, .header__background-item--3::after, .header__background-item--2::after, .header__background-item--1::after {
  position: absolute;
  width: 0;
  height: 1000px;
  top: 0;
  border: 1px solid #FFFFFF;
  opacity: 0.15;
  z-index: 0;
}

.header__background-item--1::after {
  content: "";
  left: 0;
}

.header__background-item--2::after {
  content: "";
  right: 0;
}

.header__background-item--3::after {
  content: "";
  left: 25%;
}

.header__background-item--4::after {
  content: "";
  left: 50%;
}

.header__background-item--5::after {
  content: "";
  left: 75%;
}

.header__symbol {
  position: absolute;
  left: 74%;
  top: 35%;
}

.about {
  padding-bottom: 110px;
}

.about__background {
  position: relative;
  display: flex;
}
.about__background::before {
  content: "О проекте";
  font-weight: 700;
  font-size: 287px;
  line-height: 312px;
  color: #333333;
  opacity: 0.05;
  position: absolute;
  white-space: nowrap;
  z-index: -1;
}

.about__title {
  padding: 127px 0px 60px 0px;
}

.about__row {
  margin-bottom: 25px;
}

.about__article-1 {
  margin-top: 20px;
}

.about__image-box {
  padding-top: 158px;
  margin-right: 234px;
  top: -1px;
  left: -231px;
  max-height: 680px;
}

.about__left {
  max-width: 900px;
}

.about__right {
  position: absolute;
  top: -4px;
  left: 950px;
}

.about__main-img {
  padding-left: 0px;
  z-index: 50;
  position: relative;
}

.about__background-img {
  transform: translate(25px, -392px);
  z-index: 49;
  position: relative;
}

.about__background-dots {
  transform: translate(60px, -843px);
  z-index: 48;
  position: relative;
}

.about__article-4 {
  padding-right: 0;
  margin-top: 0;
  position: absolute;
  top: 662px;
  left: 950px;
  z-index: 50;
}

.about__heading-1 {
  margin-bottom: 0;
}

.house {
  padding-left: 20px;
  padding-bottom: 23px;
  background-color: rgba(132, 34, 49, 0.05);
}

.house__inner {
  position: relative;
  padding-top: 40px;
}

.house__title {
  margin-bottom: 28px;
  padding-left: 38px;
}

.house__slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.house__slider-box {
  min-width: 1460px;
  min-height: 464px;
}

.house__dots {
  margin-left: -48px;
  margin-bottom: -442px;
  position: relative;
  z-index: -1;
}

.house__left {
  margin-right: 60px;
}

.house__slider {
  padding-left: 40px;
  padding-bottom: 40px;
}

.house__right {
  overflow: hidden;
}

.house__right img {
  margin: 0px -70px 0px -68px;
}

.house__row {
  margin: 0 0 10px 0px;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
}

.house__arrows {
  width: 1360px;
  position: absolute;
  top: 250px;
  left: -100px;
  display: flex;
  justify-content: space-between;
}

.house__arrow-left {
  background-color: #842231;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.house__arrow-left:hover {
  transform: scale(1.3);
}

.house__arrow-right {
  background-color: #842231;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.house__arrow-right:hover {
  transform: scale(1.3);
}

.location {
  padding-bottom: 154px;
}

.location__background {
  position: relative;
  display: flex;
  padding-top: 89px;
}
.location__background:before {
  content: "ЛОКАЦИЯ";
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 287px;
  line-height: 275px;
  color: #333333;
  opacity: 0.05;
  position: absolute;
  top: 50px;
  z-index: -5;
}

.location__left {
  padding-top: 70px;
  margin-right: 120px;
}

.location__title {
  padding-bottom: 48px;
}

.location__text:nth-child(2) {
  margin-bottom: 25px;
}

.location__text {
  width: 480px;
}

.location__image-box {
  position: relative;
}

.location__main-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.location__bg-img {
  position: absolute;
  top: 42px;
  left: 42px;
}

.location__bg-dots {
  position: absolute;
  top: 65px;
  left: 96px;
  z-index: -1;
  clip: rect(auto, 623px, auto, auto);
}

.location__bg-dots--2 {
  position: absolute;
  top: 471px;
  left: -857px;
  z-index: -1;
  clip: rect(auto, auto, 60px, 250px);
}

.benefit__background {
  position: relative;
  max-width: 950px;
}
.benefit__background::before {
  content: "";
  height: 100%;
  background-color: #F9F4F4;
  position: absolute;
  top: 0;
  left: -350%;
  right: 0;
  z-index: -2;
}

.benefit__inner {
  padding-top: 60px;
}

.benefit__title {
  padding-bottom: 40px;
  max-width: 624px;
}

.benefit__table {
  display: grid;
  grid-template: 60px 60px/1fr 1fr;
  gap: 35px;
  margin-bottom: 55px;
  max-width: 880px;
}

.benefit__table-item {
  display: flex;
}

.benefit__text {
  margin-left: 20px;
}

.benefit__img {
  width: 1005px;
}

.benefit__img img {
  min-width: 100%;
}

.benefit__table--bottom {
  padding: 60px 0 60px 0;
}

.benefit__table-item--bottom {
  grid-column-start: 1;
  grid-column-end: 3;
}

.benefit__text--1 {
  max-width: 190px;
}

.benefit__text--2 {
  max-width: 190px;
}

.benefit__text--3 {
  max-width: 310px;
}

.benefit__text--4 {
  max-width: 310px;
}

.benefit__text--5 {
  max-width: 310px;
}

.benefit__text--6 {
  max-width: 190px;
}

.benefit__symbol {
  position: absolute;
  top: 52%;
  right: 80%;
  z-index: -2;
}

.why {
  padding-bottom: 76px;
}

.why__background {
  position: relative;
}
.why__background:before {
  content: "ПОЧЕМУ NURA";
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 213px;
  line-height: 256px;
  opacity: 0.05;
  white-space: nowrap;
}

.why__inner {
  padding-top: 100px;
  display: flex;
}

.why__title {
  padding: 96px 0 0 149px;
}

.why__image-box {
  position: relative;
  padding-left: 132px;
}

.why__background-img {
  scale: 0.95;
  position: absolute;
  top: 22px;
  left: 84px;
  z-index: -2;
}

.why__background-dots {
  position: absolute;
  top: -26px;
  left: 12px;
  z-index: -5;
  clip: rect(100px, auto, auto, auto);
}

.why__right {
  margin-left: 41px;
}

.why__table {
  display: grid;
  grid-template: 0.8fr 0.8fr/1fr 1fr;
}

.why__table-item {
  display: flex;
}

.why__table-text--1 {
  margin-bottom: 20px;
}

.why__table-img {
  margin-right: 15px;
}

.building {
  padding-top: 162px;
}

.building__background {
  position: relative;
}
.building__background::after {
  content: "Технология";
  position: absolute;
  top: -109px;
  left: 106px;
  font-weight: 700;
  font-size: 213px;
  line-height: 256px;
  opacity: 0.05;
  white-space: nowrap;
}

.building__title {
  text-align: center;
  padding-bottom: 42px;
}

.building__table {
  display: flex;
  padding-left: 145px;
  padding-bottom: 80px;
}

.building__table-right {
  padding-top: 146px;
  padding-left: 100px;
}

.building__table-left .building__table-item {
  padding-bottom: 83px;
}

.building__table-left .building__table-item:last-child {
  padding-bottom: 0;
}

.building__table-right .building__table-item {
  padding-bottom: 83px;
}

.building__table-right .building__table-item:last-child {
  padding-bottom: 0;
}

.download {
  padding: 80px 0px 0px 0px;
}

.download__inner {
  border: 8px solid #842231;
  padding: 70px 99px;
  position: relative;
  z-index: 50;
  background-color: #fff;
}

.download__box {
  padding-top: 36px;
}

.download__title {
  padding-top: 12px;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  text-align: center;
}

.download__text {
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 143%;
  text-align: center;
  letter-spacing: -0.2px;
  color: #2E363E;
}

.download__form {
  padding-top: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.download__form-item input {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #7E868E;
  border-radius: 100px;
  display: block;
}

.download__form-item {
  height: 85px;
  width: 1fr;
  margin-right: 20px;
  background: #F2F6FA;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 22px;
}

.download__form-item img {
  padding-right: 15px;
}

.download__form-button {
  padding: 0;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  color: #FFFFFF;
  background-color: #842231;
  transition: all 0.3s;
}
.download__form-button:hover {
  scale: 1.08;
}

.download__sumbol {
  position: relative;
}
.download__sumbol img {
  position: absolute;
  top: 51px;
  left: 1185px;
  z-index: -80;
  opacity: 0.7;
}

.pay {
  padding: 0 0px 61px 0px;
}

.pay__box-content {
  padding: 0px 172px 0px;
}

.pay__background {
  position: relative;
}
.pay__background::after {
  content: "Оплата";
  position: absolute;
  top: -12px;
  left: 100px;
  font-weight: 700;
  font-size: 260px;
  line-height: 312px;
  opacity: 0.05;
  z-index: -5;
}

.pay__title {
  text-align: center;
  margin-bottom: 0;
  padding-top: 131px;
  padding-bottom: 80px;
}

.pay__image-box {
  display: flex;
  height: 79px;
  margin-right: 96px;
  padding-left: 73px;
}

.pay__image-item {
  margin-right: 15px;
}
.pay__image-item:last-child {
  margin-right: 0;
}

.pay__image-item img {
  display: block;
  height: 100%;
  max-width: 244px;
  margin: 0 auto;
}

.pay__text {
  padding-top: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 110%;
  color: #333333;
  text-align: center;
}

.contacts {
  padding-top: 105px;
}

.contacts__inner {
  display: flex;
}

.contacts__map {
  margin-right: 152px;
  width: 578px;
}

.contacts__content {
  padding-top: 58px;
}

.contscts__title {
  padding: 28px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.contacts__addres {
  margin-bottom: 30px;
}

.contacts__block {
  display: flex;
  justify-content: space-between;
}

.contacts__box {
  padding-right: 57px;
}

.contacts__rows {
  display: flex;
  padding-bottom: 10px;
}
.contacts__rows:last-child {
  padding-bottom: 0;
}

.contacts__rows img {
  padding-right: 10px;
}

.contacts__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
}

.contacts__addres {
  white-space: nowrap;
}

.footer {
  padding-top: 100px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding-bottom: 50px;
}

.footer__padding {
  display: flex;
  justify-content: center;
}

.footer__link {
  display: block;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  height: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.footer__link:hover {
  border-bottom: 4px solid #dba069;
}

.why__table-item {
  margin-right: 15px;
}

@media (max-width: 1600px) {
  .house {
    padding-left: 0;
  }
  .container--width {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .house__title {
    padding-left: 0;
  }
  .house__dots {
    display: none;
  }
  .house__slider {
    padding-left: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 1470px) {
  .about__article-4 {
    margin-top: 60px;
    padding-right: 30px;
    position: -webkit-sticky;
    position: sticky;
  }
  .about__right {
    display: none;
  }
}
@media (max-width: 1330px) {
  .house__arrows {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .house__inner {
    width: 693px;
  }
  .house__row {
    margin-bottom: 20px;
  }
  .house__arrow-left {
    background-color: #842231;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    margin-right: 25px;
  }
  .house__arrow-right {
    background-color: #842231;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  .house__slide {
    display: block;
  }
  .house__right {
    width: 453px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .why__left {
    display: none;
  }
}
@media (max-width: 1270px) {
  .location__background {
    display: flex;
    flex-direction: column;
  }
  .location__left {
    padding-bottom: 20px;
    margin-right: 0;
  }
  .location__image-box {
    margin-top: 20px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .location__main-img {
    position: static;
    margin-left: -15px;
  }
  .location__bg-img {
    position: absolute;
    top: 42px;
    left: 27px;
    z-index: -2;
  }
  .location__bg-dots {
    position: absolute;
    top: 65px;
    left: 81px;
    z-index: -1;
    clip: rect(auto, 623px, auto, auto);
  }
}
@media (max-width: 1180px) {
  .contacts__map {
    padding-right: 0;
  }
  .contacts__inner {
    flex-direction: column;
  }
  .contacts__block {
    justify-content: flex-start;
  }
  .pay__box-content {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 1060px) {
  .benefit__img {
    width: 800px;
  }
  .benefit__img img {
    width: 100%;
  }
  .container__del-pad {
    padding-right: 0;
  }
  .benefit__inner {
    padding-right: 15px;
  }
  .download__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 970px) {
  .building__table {
    padding-left: 0px;
  }
}
@media (max-width: 850px) {
  .burger {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30px;
    right: 20px;
    z-index: 200;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
    position: fixed;
    border-radius: 50%;
    transition: all 0.3s;
  }
  .burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    margin: 4px 0;
  }
  .burger:before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
  }
  .burger:after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
  }
  .burger--follow {
    background-color: #fff;
    box-shadow: 0 0 4px #1e1b1b;
  }
  .header__right {
    position: fixed;
    right: -15px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #2E363E;
    padding-right: 15px;
    z-index: 300;
    transform: translateX(100%);
  }
  .header__right--active {
    transform: translateX(0);
    transition: 0.3s;
  }
  .header__link {
    flex-direction: column;
    align-items: flex-end;
  }
  .header__link-item {
    padding: 15px 0;
  }
  .header__before {
    display: block;
    position: relative;
  }
  .header__active-logo {
    position: relative;
    display: block;
    right: 40px;
  }
  .header__first-row {
    flex-direction: column;
    padding-right: 40px;
  }
  .header__fr-link:first-child {
    position: relative;
    top: -32px;
    left: 101px;
    margin: 0;
  }
  .header__whatsapp {
    display: block;
    scale: 1.7;
  }
  .header__second-row {
    padding-right: 40px;
  }
  .close-button {
    display: flex;
    width: 39px;
    height: 39px;
    background-color: #fff;
    position: absolute;
    margin: 5px 0 0 50px;
    border-radius: 50%;
    top: 31px;
    right: 230px;
    transition: all 0.1s;
    transition: all 0.3s;
  }
  .close-button:hover {
    box-shadow: 0 0 10px #fff;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(30, 27, 27, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  .benefit__img {
    width: 600px;
  }
  .benefit__img img {
    width: 100%;
  }
  .benefit__table--bottom {
    padding-right: 0;
    padding-left: 0;
  }
  .building__table-right {
    padding-left: 20px;
  }
  .download__form {
    width: 220px;
    padding-top: 36px;
    display: grid;
    gap: 20px;
    grid-template-columns: 240px;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
  }
}
@media (max-width: 760px) {
  .location__bg-dots {
    display: none;
  }
  .pay__image-box {
    padding-left: 0px;
  }
}
@media (max-width: 730px) {
  .header__main {
    flex-direction: column;
  }
  .header__main-left {
    padding-bottom: 40px;
  }
  .title {
    font-size: 40.8px;
  }
  .heading {
    font-size: 17px;
  }
  .text {
    font-size: 17px;
  }
  .house__left {
    width: 550px;
  }
  .house__left img {
    width: 100%;
  }
  .house__right {
    width: 400px;
  }
  .house__right img {
    width: 100%;
  }
  .house__row {
    font-size: 27.2px;
  }
  .house__inner {
    width: 550px;
  }
  .header__top {
    margin-bottom: 70px;
  }
  .location__main-img {
    width: 490px;
  }
  .location__main-img img {
    display: block;
    width: 100%;
  }
  .location__bg-img {
    width: 490px;
  }
  .location__bg-img img {
    display: block;
    width: 100%;
  }
  .why__right {
    margin-left: 0;
  }
  .why__title {
    padding: 96px 0 0 0;
  }
}
@media (max-width: 700px) {
  .building__table {
    flex-direction: column;
  }
  .building__table-right {
    padding-top: 80px;
    padding-left: 0;
  }
}
@media (max-width: 660px) {
  .benefit__img {
    width: 400px;
  }
  .benefit__img img {
    width: 100%;
  }
  .contacts__map {
    width: 400px;
  }
  .footer__row {
    flex-wrap: wrap;
    white-space: nowrap;
  }
}
@media (max-width: 600px) {
  .house__left {
    width: 450px;
  }
  .house__left img {
    width: 100%;
  }
  .house__right {
    width: 400px;
  }
  .house__right img {
    width: 100%;
  }
  .house__row {
    font-size: 27.2px;
  }
  .house__inner {
    width: 450px;
  }
  .article {
    margin-top: 20px;
    padding-right: 10px;
  }
  .about__title {
    padding: 30px 0 20px;
  }
  .pay__title {
    text-align: start;
  }
  .pay__image-box {
    display: grid;
    height: 67.15px;
    grid-template-columns: 85px 85px;
    grid-template-rows: 85px 85px;
    row-gap: 160px;
    -moz-column-gap: 115px;
         column-gap: 115px;
    padding-bottom: 400px;
  }
}
@media (max-width: 570px) {
  .location__main-img {
    width: 400px;
  }
  .location__main-img img {
    display: block;
    width: 100%;
  }
  .location__bg-img {
    width: 400px;
  }
  .location__bg-img img {
    display: block;
    width: 100%;
  }
  .location__text {
    width: auto;
  }
  .benefit__table {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px 60px;
  }
  .benefit__table--bottom {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px;
  }
  .benefit__table-item--bottom {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .why__table {
    grid-template: 0.8fr 0.8fr 0.8fr/1fr;
  }
  .why__table-item {
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .header__title {
    font-size: 32.3px;
  }
  .header__button {
    width: 208.25px;
    height: 55.25px;
    font-size: 15.3px;
  }
  .header__heading {
    font-size: 27.2px;
    line-height: 32.3px;
  }
  .header__left-text {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .header__left-text-item:nth-child(odd) {
    font-size: 108.8px;
    line-height: 83.7%;
    margin-right: 20px;
  }
  .header__left-text-item {
    font-size: 17px;
    line-height: 16.15px;
    align-items: center;
    display: flex;
  }
  .house__left {
    width: 290px;
  }
  .house__left img {
    width: 100%;
  }
  .house__right {
    width: 280px;
  }
  .house__right img {
    width: 100%;
  }
  .house__row {
    font-size: 27.2px;
  }
  .house__inner {
    width: 290px;
  }
}
@media (max-width: 480px) {
  .location__main-img {
    width: 270px;
  }
  .location__main-img img {
    display: block;
    width: 100%;
  }
  .location__bg-img {
    width: 270px;
  }
  .location__bg-img img {
    display: block;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .benefit__img {
    width: 270px;
  }
  .benefit__img img {
    width: 100%;
  }
  .benefit__table {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px 60px;
    gap: 60px;
  }
  .building__title {
    text-align: start;
    padding-bottom: 42px;
  }
  .contacts__map {
    width: 260px;
  }
  .contacts__addres {
    white-space: normal;
  }
  .contacts__block {
    flex-direction: column;
  }
  .contacts__box {
    margin-bottom: 30px;
  }
}
@media (max-width: 380px) {
  .building__table-img {
    width: 190px;
  }
  .building__table-img img {
    width: 100%;
  }
  .download__inner {
    border-right: none;
    border-left: none;
    padding-left: 0;
    padding-right: 0;
  }
  .pay__image-box {
    display: grid;
    height: 67.15px;
    grid-template-columns: 205px;
    grid-template-rows: 65px 85px 85px 85px;
    row-gap: 120px;
    padding-bottom: 800px;
  }
  .pay__image-item {
    margin: 0;
  }
  .pay__image-item img {
    margin: 0;
  }
  .pay__text {
    text-align: start;
  }
}
@media (max-width: 350px) {
  .location__bg-img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */
